<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ZipCheck</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background-color:#dee0e0">
			<div class="container-fluid">
					<div class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-12">
										<ul class="nav">
												<li class="nav-item">
													<a class="nav-link active" href="/"><img src="../static/img/zip_15.png"class="img-thumbnail"></a>
												</li>
												<li class="nav-item">
														<a class="nav-link active" href="/things"><img src="../static/img/things_15.png"class="img-thumbnail"></a>
												</li>
												<li class="nav-item">
														<a class="nav-link active" href="/housing"><img src="../static/img/housing_15.png"class="img-thumbnail"></a>
												</li>
												<li class="nav-item">
														<a class="nav-link active" href="/schools"><img src="../static/img/schools_15.png"class="img-thumbnail"></a>
												</li>
												<li class="nav-item">
														<a class="nav-link active" href="/chrime"><img src="../static/img/chrime_15.png"class="img-thumbnail"></a>
												</li>
											</ul>
								</div>
							</div>
							<div class="row">
									<div class="col-md-12" style="background-color: white">
											<br/><br/> HOUSING <br/><br/><br/><br/><br/><br/>
									</div>
							</div>
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
    <!-- <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/scripts.js"></script> -->
  </body>
</html>