<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ZipCheck</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
			<div class="container-fluid">
					<div class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-12">
									<ul class="nav">
										<li class="nav-item">
											<a class="nav-link active" href="/">ZIP</a>
										</li>
										<li class="nav-item">
												<a class="nav-link active" href="/things">Things-to-do</a>
										</li>
										<li class="nav-item">
												<a class="nav-link active" href="/housing">Housing</a>
										</li>
										<li class="nav-item">
												<a class="nav-link active" href="/schools">Schools</a>
										</li>
										<li class="nav-item">
												<a class="nav-link active" href="/chrime">Chrime</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<br/><br/> SCHOOLS
								</div>
							</div>
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
    <!-- <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/scripts.js"></script> -->
  </body>
</html>