<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ZipCheck</title>
	
	<script src="../static/js/jquery.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/dist/drawingboard.min.css">
	<script src="../static/dist/drawingboard.min.js"></script>
	<style>
		#zip1-board {
			width: 180px;
			height: 200px;
		}
		#zip2-board {
			width: 180px;
			height: 200px;
		}
		#zip3-board {
			width: 180px;
			height: 200px;
		}
		#zip4-board {
			width: 180px;
			height: 200px;
		}
		#zip5-board {
			width: 180px;
			height: 200px;
		}
	</style>
  </head>
  <body style="background-color:#dee0e0">

			<div class="container-fluid">
					<div class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-12">
										<ul class="nav">
												<ul class="nav">
														<li class="nav-item">
															<a class="nav-link active" href="/"><img src="../static/img/zip_15.png"class="img-thumbnail"></a>
														</li>
														<li class="nav-item">
																<a class="nav-link active" href="/things"><img src="../static/img/things_15.png"class="img-thumbnail"></a>
														</li>
														<li class="nav-item">
																<a class="nav-link active" href="/housing"><img src="../static/img/housing_15.png"class="img-thumbnail"></a>
														</li>
														<li class="nav-item">
																<a class="nav-link active" href="/schools"><img src="../static/img/schools_15.png"class="img-thumbnail"></a>
														</li>
														<li class="nav-item">
																<a class="nav-link active" href="/chrime"><img src="../static/img/chrime_15.png"class="img-thumbnail"></a>
														</li>
													</ul>
								</div>
							</div>
							<br/><br/>

							<div class="row">
									<div class="col-md-12">
										<p>
										Enter your zip code
										</p>
									</div>								
								<div class="col-md-1">
								</div>
								<div class="col-md-2">
									<div class="board container-fluid no-padding" id="zip1-board"></div>
									<script>
									var simpleBoard = new DrawingBoard.Board('zip1-board', {
										size: 4,
										controls: true,
										webStorage: false
									});
									</script>
								</div>
								<div class="col-md-2">
										<div class="board container-fluid no-padding" id="zip2-board"></div>
										<script>
										var simpleBoard = new DrawingBoard.Board('zip2-board', {
											size: 4,
											controls: true,
											webStorage: false
										});
										</script>
								</div>
								<div class="col-md-2">
										<div class="board container-fluid no-padding" id="zip3-board"></div>
										<script>
										var simpleBoard = new DrawingBoard.Board('zip3-board', {
											size: 4,
											controls: true,
											webStorage: false
										});
										</script>
								</div>
								<div class="col-md-2">
										<div class="board container-fluid no-padding" id="zip4-board"></div>
										<script>
										var simpleBoard = new DrawingBoard.Board('zip4-board', {
											size: 4,
											controls: true,
											webStorage: false
										});
										</script>
								</div>
								<div class="col-md-2">
										<div class="board container-fluid no-padding" id="zip5-board"></div>
										<script>
										var simpleBoard = new DrawingBoard.Board('zip5-board', {
											size: 4,
											controls: true,
											webStorage: false
										});
										</script>
								</div>
								<div class="col-md-1">
								</div>
							</div>

						</div>
						<div class="col-md-1">
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-8">
						<br/><br/>
						<input class="btn btn-primary align-right text-center" type="button" value="Search my Zip">
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!-- <script src="../static/js/jquery.min.js"></script> -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/scripts.js"></script>
  </body>
</html>